:root {
  --image: attr(data-image);
}
.container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.navi {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.navi li {
  list-style: none;
}

.navi li a {
  font-size: 4em;
  color: #fff;
  position: relative;
}
.navi li a::before {
  position: absolute;
  color: yellowgreen;
  content: attr(data-text);
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  transition: 0.3s;
}
.navi li a:hover:before {
  width: 100%;
}

.backgroundPhoto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}
