.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #34465d;
  overflow: hidden;
}

.gnb a {
  text-transform: uppercase;
  position: relative;
  width: 450px;
  display: block;
  padding: 15px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  transition: 0.3s;
}
.gnb a:before,.gnb a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
  height: 100%;
  border: 1px solid #7e7e7e;
  transition: 0.3s;
}

.gnb a:hover {
    letter-spacing: 8px;
}
.gnb a:hover:before{
    transform: rotate(45deg);
    background-color: transparent;
}
.gnb a:hover:after{
    transform: rotate(-45deg);
    background-color: transparent;
}