.loadingBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  position: relative;
  width: 80px;
  height: 80px;
}
.loading span {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: gray;
  animation: loading 1.5s infinite;
}
.loading span:nth-child(1) {
  background-color: crimson;
}
.loading span:nth-child(2) {
  animation-delay: 0.8s;
}

@keyframes loading {
  0%,
  100% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    /* right: 0; */
    left: calc(100% - 30px);
    background-color: dodgerblue;
  }
  50% {
    top: calc(100% - 30px);
    left: calc(100% - 30px);
    background-color: orange;
  }
  75% {
    top: calc(100% - 30px);
    left: 0;
    background-color: yellowgreen;
  }
}
