@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.gnb {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.gnb a {
  display: block;
  font-size: 40px;
  margin: 40px 20px;
  color: blue;
  transition: 0.5s;
}
.gnb a:before {
  content: "\f105";
  font-family: fontawesome;
  margin-right: 10px;
  opacity: 0;
  transition: 0.5s;
}
.gnb a:hover:before {
    opacity: 1;
}

.gnb:hover a {
  opacity: 0.3;
}
.gnb a:hover {
  opacity: 1;
}
